@{
    ViewBag.Title = "CRM Online REST Metadata";
}

<div class="jumbotron">
    <h1>CRM Online REST Metadata</h1>
    <p class="lead">The web service lets you generate an anonymous accessible CRM Online REST Metadata endpoint, that can be used together with LightSwitch to setup a solution that pulls data from CRM online.</p>
    <p><a href="/CRM" class="btn btn-primary btn-lg">Generate endpoint</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>More info</h2>
        <p>
            Read my blog post on how this tool can be useful. 
        </p>
        <p><a class="btn btn-default" href="http://wp.sjkp.dk/use-microsoft-dynamics-crm-online-data-in-lightswitch/">Read more &raquo;</a></p>
    </div>  
</div>