
@{
    ViewBag.Title = "CRM Online Metadata ";
}

<h2>@ViewBag.Message</h2>
Use the url in LightSwitch data source wizard: 
<input type="text" value="@ViewBag.Url" width="150" style="width:500px;max-width: 500px"/>

